<h1>Enter Info About Car Company</h1>

<form action="http://127.0.0.1:9000/insert_record" method="POST" enctype="multipart/form-data">
    <label for="car_company_name">Company Name:</label><br>
    <input type="text" id="car_company_name" name="ccn">
    
    <br><br>

    <label for="headquarter">Headquarter:</label><br>
    <input type="text" id="headquarter" name="headquarter">

    <br><br>

    <label for="founded_in">Founded in:</label><br>
    <input type="text" id="founded_in" name="founded_in">

    <br><br>

    <label for="founder">Founder:</label><br>
    <input type="text" id="founder" name="founder">

    <br><br>
    
    <input type="submit" value="Submit">
</form>